body {
    background: #2a9d8f;
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;

}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);

}
footer {
    color: white;
    text-align: center;
    font-style: italic;

}

/* link que ainda não foi visitado */
a:link { 
    text-decoration:none; 
    color: white;
}

/* link que foi visitado */
a:visited {
    color: white;
}

/* mouse over */
a:hover {
    color: #052b2b;
}

/* link selecionado */
a:active {
    color: #3ecaca;
}